[Unit]
Description=delorean
After=network.target

[Service]
ExecStart=/tuber/delorean.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
