[Unit]
Description=delorian
After=network.target

[Service]
ExecStart=/tuber/delorian.py
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
